<!--p *ngIf="flag==='product'">list of products</p-->
<div>
    <button (click)="viewlist()">{{flag?'Hide Products':'View Products'}}</button>
    <button routerLink="create" style="margin-left: 15px;">Add Product</button>
    <div *ngIf="flag" class="cards">
        <div *ngFor="let item of productlist" class="card">
            <img src="{{item.url}}" alt="Product Image">
            <div class="content">
                <p>Name : {{item.pname}}</p>
                <p>Price : {{item.price}}</p>
                <p>Category : {{item.category}}</p>
                <button [disabled]="item.disable" (click)="delete(item.id)">Delete</button>
                <button routerLink="update/{{item.id}}" style="margin-left:15px ;">Edit</button><br>
                <!--p *ngIf="quan" [formGroup]="quantityform">
                <label for="quantity"></label>
                <input type="number" id="quantity" formControlName="quantity">
                <button (click)="func()">sub</button>
            </p-->
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>